<ion-view view-title="{{bookmarksListCtrl.title}}" cache-view="false">
  <ion-nav-buttons side="primary">
    <button menu-toggle="left" class="button button-icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon ion-edit"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list show-delete="true" show-reorder="true">
      <ion-item href="" ng-repeat="bookmark in bookmarksListCtrl.bookmarks | filter:{category:bookmarksListCtrl.getCurrentCategoryName()}"
                ng-click="bookmarksListCtrl.goToUrl(bookmark)">
        {{bookmark.title}}
        <ion-delete-button class="ion-minus-circled"></ion-delete-button>
        <ion-reorder-button class="ion-navicon"></ion-reorder-button>
      </ion-item>
    </ion-list>
    <hr/>
    <ui-view>
      <div ng-if="bookmarksListCtrl.getCurrentCategory()">
        <button type="button" class="btn btn-link"
                ui-sref="eggly.categories.bookmarks.create">
          <span class="glyphicon glyphicon-plus"></span>
          Create Bookmark
        </button>
      </div>
    </ui-view>
  </ion-content>
</ion-view>
